<div class="home">
	<div class="header col-md-12">
		<div class="name col-md-8">Anuglarjs-echarts</div>
		<ul class="item col-md-4">
			<li id="guide"><a ui-sref="home.shuoming" ng-click="liItemSelect(0)" ng-class="{'true': 'active', 'false': ''}[selectNum == 0]">开发指南</a></li>
			<li id="directives"><a ui-sref="home.chart({id:1})" ng-click="liItemSelect(1)" ng-class="{'true': 'active', 'false': ''}[selectNum != 0]">基础指令</a></li>
		</ul>
	</div>
	<div class="content col-md-12">
		<div class="navbar-left left col-md-3 col-sm-12">
			<ul id="develop-guide">开发指南
				<li class="dirHeader"><a ui-sref="home.shuoming" ng-click="liItemSelect(0)" ng-class="{'true': 'active'}[selectNum == 0]" name="shuoming">使用说明</a></li>
			</ul>
			<ul id="basic-directives">基础指令
				<li class="dirHeader">bar
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('bar')>=0 && liItemName.name.indexOf('line-bar') < 0"
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dirHeader">line
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('line')>=0 && liItemName.name.indexOf('line-bar') < 0  && liItemName.name.indexOf('line-area') < 0"
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dirHeader">pie
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('pie')>=0"
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dirHeader">gauge
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('gauge')>=0 "
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dirHeader">scatter
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('scatter')>=0 "
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dirHeader">line-bar
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('line-bar')>=0 "
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dirHeader">line-area
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('line-area')>=0 "
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dirHeader">ciyun-word
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('ciyun-word')>=0 "
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
				<li class="dirHeader">china-map
					<ul>
						<li ng-repeat="liItemName in liItemList track by $index">
							<a ui-sref="home.chart({id:liItemName.id})" ng-if="liItemName.name.indexOf('china-map')>=0 "
							   ng-click="liItemSelect(liItemName.id)" ng-class="{ 'true' : 'active', 'false': ' '}[selectNum == liItemName.id]">
								{{liItemName.name}}
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="center col-md-9 col-sm-12">
			<div ui-view></div>
		</div>
	</div>
	<div class="footer col-md-12">
		<div class="name">Anuglarjs echarts - 0.1.0</div>
		<ul class="item">
			<li><a href="https://github.com/angelasnowing/angularjs-echarts-project-test-test/issues" target="_blank">反馈建议</a></li>
			<li><a href="https://github.com/angelasnowing/angularjs-echarts-project-test-test/graphs/contributors" target="_blank">贡献指南</a></li>
		</ul>
	</div>
</div>
