<div class="shuoming">
    <h3>使用说明</h3>
    <p>本项目采用 angularjs + bootstrap + nodejs + requirejs 模式，介绍封装图表指令的引入使用。</p>
    <p>1.将对应的directive.js文件添加到directive文件夹, chartService.js文件添加到service文件夹下。</p>
    <p>2.在main.js文件里的require.config的path里引入文件。</p>
    <pre>
        <code class="code-style1">require.config({
        path: {
            'duidieBarDirective': './directives/duidieBarDirective',
            'pinghuaLineDirective': './directives/pinghuaLineDirective',
            'solidPieDirective': './directives/solidPieDirective',
        }
            ... ...
        )</code>
    </pre>
    <p>3.在mainDirective里注入依赖。</p>
    <pre>
        <code class="code-style1">define(['duidieBarDirective','pinghuaLineDirective','solidPieDirective'], function(){})</code>
    </pre>
    <p>4.在html文件里使用指令标签。如需查看更多指令请点击"基础指令"~_~</p>
    <pre>
        <code ng-repeat="label in labelName track by $index">
            <p class="code-style">{{codeBlock["data"+$index]}}</p>
        </code>
    </pre>
</div>